<div class="form">
  <div class="titulo-form">
    <h1>Informações sobre o usuário</h1>
  </div>
  <link rel="stylesheet" href="./views/Form/form.css" />
</div>

<div class="container-input">
  <div class="nome-input">
    <h2>Nome de Usuário:</h2>
    <input
      type="text"
      name="Nome de Usuário"
      placeholder="Digite seu nome..."
    />
  </div>
  <div class="email-input">
    <h2>Email:</h2>
    <input
      type="text"
      name="Nome de Usuário"
      placeholder="Digite seu email..."
    />
  </div>
  <div class="genero-checkbox">
    <h2>Gênero:</h2>
    <select name="Gênero">
      <option value="#">Selecione</option>
      <option value="M">Masculino</option>
      <option value="F">Feminino</option>
      <option value="I">Prefiro não informar</option>
    </select>
  </div>
  <div class="funcao-checkbox">
    <h2>Função:</h2>
    <select name="funcao-checkbox">
      <option value="#">Selecione</option>
      <option value="Analista">Analista de Sistemas</option>
      <option value="Administrador">Administrador de Empresas</option>
      <option value="Arquiteto">Arquiteto</option>
      <option value="Desenvolvedor">Desenvolvedor web full stack</option>
    </select>
  </div>
  <div class="celular-input">
    <h2>Celular:</h2>
    <input
      type="tel"
      name="Telefone do usuário"
      placeholder="Digite seu número..."
    />
  </div>
  <div class="pais-checkbox">
    <h2>País:</h2>
    <select name="pais-checkbox">
      <option value="#">Selecione</option>
      <option value="Br">Brasil</option>
      <option value="AU">Austrália</option>
      <option value="US">Estados Unidos</option>
      <option value="Desenvolvedor">Portugual</option>
    </select>
  </div>
  <div class="empresa-input">
    <h2>Empresa:</h2>
    <input
      type="text"
      name="Empresa do usuário"
      placeholder="Digite o nome da sua empresa..."
    />
  </div>
  <div class="porteEmpresa-checkbox">
    <h2>Porte:</h2>
    <select name="porteEmpresa-checkbox">
      <option value="#">Selecione</option>
      <option value="GR">Grande</option>
      <option value="ME">Média</option>
      <option value="PQ">Pequena</option>
      <option value="AT">Autonômo</option>
    </select>
  </div>
</div>
<div class="footer-form">
    <button class="CL">Cancelar</button>
    <button class="EX">Excluir</button>
    <button class="SV">Salvar</button>
  </div>
    <link rel="stylesheet" href="./views/User/user.css" />
</div>
