<div class="home">
  <div class="home-logo">
    <img src="images/logo.png" alt="Logo da página" />
    <div class="nome-usuario">
      <h1>Login usuário</h1>
    </div>
  </div>

  <div class="titulo">
    <h1 class="titulo-principal">Menu Principal</h1>
  </div>

  <div class="menu-dashboard">
    <div class="dashboard-logo">
      <img src="images/logo-dashboard.png" alt="Logo Dashboard" />
      <h2>Dashboard</h2>
    </div>

    <div href="../User/user.html" class="logo-usuarios">
      <img src="images/logo-usuario.png" alt="Logo Usuário" />
      <h2>Usuários</h2>
    </div>

    <div class="meu-perfil">
      <img src="images/logo-usuario.png" alt="Logo Perfil" />
      <h2>Meu perfil</h2>
    </div>
  </div>
  <div class="footer">
    <button>Sair</button>
  </div>
</div>

  <link rel="stylesheet" href="./views/Home/home.css" />
</div>
